#### We'll use the following code to connect our Jupyter Notebook to our database file:

In [5]:
%%capture
%load_ext sql
%sql sqlite:///chinook-unmodified.db

In [7]:
%%sql
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");

 * sqlite:///chinook-unmodified.db
   sqlite:///chinook.db
Done.

[]